
.aboutimgwithtext{
	text-align: center;
	height: 700px;
	background-image: url(../photo/aboutImg.jpg);
	background-repeat: no-repeat;
	margin-left: 180px;
}

.aboutphoto{
	padding-top: 350px;
	color: white;
}

.aboutphoto h2{
	font-weight: 600;
}

.aboutphoto p{
	font-size: .8rem;
	padding-top: 10px;
}

#abouttwoconter{
	width: 100%;
	height: 200px;
	background-color: gray;
	margin-bottom: 20px;
}

.aboutsecondconter{
	display: inline-flex;
	padding-top: 40px;
	padding-left: 200px;
}

.aboutsecondconter h3{
	padding-bottom: 20px;
}

.aboutsecondconter p{
	font-size: .8rem;
	word-break: break-all;
	line-height: 20px;
}

.AboutBulkBody{
	text-align: center;
	width: 500px;
	margin-right: 90px;
}

.AboutLeanBody{
	text-align: center;
	width: 500px;
}

.aboutgym{
	margin-top: 150px;
	width: 40%;
	float: left;
	margin-left: 200px;
}

.aboutgym h2{
	font-weight: 300;
	word-spacing: 5px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.aboutgym span{
	font-weight: 700;
}

.aboutgym p:nth-child(2){
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.aboutgym p:nth-child(3){
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 10px;
	word-break: break-all;
}

.aboutlist1 ul li{
	padding: 5px 0;
}

.aboutlist1 ul li a{
	color: black;
	font-size: 13px;
}

.aboutlist1 img{
	padding-right: 10px;
}

.aboutgymimg{
	float: right;
	margin-right: 250px;
	margin-top: 20px;
	margin-bottom: 80px;
}

.aboutgymdedication{
	clear: both;
}

.aboutdedicationimg{
	float: left;
	margin-left: 250px;
	margin-top: 50px;
}

.aboutdedicationtxt{
	width: 40%;
	float: right;
	margin-top: 150px;
	margin-right: 180px;
}

.aboutdedicationtxt h2{
	font-weight: 300;
	word-spacing: 5px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.aboutdedicationtxt span{
	font-weight: 700;
}

.aboutdedicationtxt p:nth-child(2){
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.aboutdedicationtxt p:nth-child(3){
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 10px;
	word-break: break-all;
}

.aboutlist2 ul li{
	padding: 5px 0;
}

.aboutlist2 ul li a{
	color: black;
	font-size: 13px;
}

.aboutlist2 img{
	padding-right: 10px;
}
