/*home page slider section css*/

.photo{
	width: 100%;
	height: 700px;
}

.imgslider{
	padding-left: 200px;
}

.mySlides > img{
	position: relative;
}

.mySlides h2{
	font-weight: 600;
}

.welcome{
	position: absolute; 
	left: 40%; 
	top: 120px; 
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	line-height: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.welcome >p{
	font-size: .8rem;
}

.sliderone{
	position: absolute; 
	left: 42%; 
	top: 120px; 
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	line-height: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.sliderone >p{
	font-size: .8rem;
}

.slidertwo{
	position: absolute; 
	left: 42%; 
	top: 120px; 
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	line-height: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.slidertwo >p{
	font-size: .8rem;
}

.sliderthree{
	position: absolute; 
	right: 20%; 
	top: 120px; 
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	line-height: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.sliderthree >p{
	font-size: .8rem;
}


/*Popular Program section css*/

#SecondConter{
	width: 100%;
	/*height: 700px;*/
	margin-top: 60px;
	padding-top: 40px;
	position: relative;
	padding-bottom: 60px;
	background-color: rgba(128, 128, 128, .9);
}

#SecondConter h2{
	text-align: center;
	font-weight: 700;
	padding-bottom: 40px;
	color: white;
}

.popularsection{
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
}

.shoroom{
	height: 550px;
	margin-left: 25px;
	margin-right: 25px;
	overflow: hidden;
	display: inline-block;
}

.poppro{
	float: left;
	width: 350px;
	height: 400px;
	text-align: center;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 150px;
}

.btn_left{
	position: absolute;
	left: 40px;
	top: 300px;
	background-color: transparent;
	border: 0;
}

.btn_right{
	position: absolute;
	right: 80px;
	top: 300px;
	background-color: transparent;
	border: 0;
}

.bodyCombat h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyCombat p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.bodyBuilding h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyBuilding p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.pushUp h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.pushUp p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.weightLifting h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.weightLifting p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.bodyCombat1 h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyCombat1 p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.bodyCombat2 h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyCombat2 p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.bodyCombat3 h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyCombat3 p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}

.bodyCombat4 h3{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bodyCombat4 p{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}



/*Featured Trainer section css*/

#ThradConter{
	width: 100%;
	height: 650px;
	padding-top: 40px;
	background-color: rgba(128, 128, 128, .4);
}

.trainerdemo{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.trainerdemo >h2{
	font-weight: 700;
	padding-bottom: 40px;
	color: white;
}

.trainerImg{
	width: 150px;
	border-radius: 100%;
	background-color: transparent;
}

.trainerdemo >h3{
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
}

.trainerdemo >p{
	font-size: 16px;
	padding-left: 300px;
	padding-right: 300px;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 25px;.
	color: black;
	font-weight: 500;

}

#trinerBtn{
	margin-top: 15px;
	padding: 10px 20px;
	font-weight: 700;
	color: white;
	background-color: black;
	border: 0;
	border-radius: 10px;
}


/*Crossfit Exercises section css*/

#fourConter{
	width: 100%;
	/*height: 800px;*/
	background-color: rgba(184, 36, 164, .2);
	padding-top: 40px;
	padding-bottom: 60px;
}

#fourConter >h2{
	text-align: center;
	font-weight: 700;
	padding-bottom: 40px;
	color: white;
}

.Exercises{
	margin-left: 200px;
	margin-right: 200px;
}

.exercisesgroupone{
	display: flex;
	margin-top: 40px;
}

.exercisesgroupone h3{
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
}

.exercisesgroupone p{
	word-wrap: break-word;
	word-break: break-all;
	font-size: .9rem;
}

.weightlifting{
	text-align: center;
	width: 80%;
	background-color: rgba(184, 36, 164, .3);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;
}

.walkingexercise{
	text-align: center;
	width: 80%;
	margin-left: 40px;
	margin-right: 40px;
	background-color: rgba(184, 36, 164, .4);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;
}

.bellycrunches{
	text-align: center;
	width: 80%;
	background-color: rgba(184, 36, 164, .4);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;		
}

.exercisesgrouptwo{
	display: flex;
	margin-top: 40px;
}

.exercisesgrouptwo h3{
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
}

.exercisesgrouptwo p{
	word-wrap: break-word;
	word-break: break-all;
	font-size: .9rem;
}

.liftingpartner{
	text-align: center;
	width: 80%;
	background-color: rgba(184, 36, 164, .4);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;	
}

.exerciserolling{
	text-align: center;
	width: 80%;
	margin-left: 40px;
	margin-right: 40px;
	background-color: rgba(184, 36, 164, .4);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;	
}

.lungeplunk{
	text-align: center;
	width: 80%;
	background-color: rgba(184, 36, 164, .4);
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;	
}


/*Testimonies section css*/
#fiveConter{
	width: 100%;
	height: 600px;
	padding-top: 80px;
	position: relative;
}

.left_btn{
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 300px;
	left: 100px;
}

.right_btn{
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 300px;
	right: 100px;
}

#fiveConter >h2{
	text-align: center;
	font-weight: 700;
	padding-bottom: 60px;
	color: white;
}

.custmorreview{
	margin-top: 60px;
	margin-left: 150px;
	margin-right: 150px;
}

.allcustmor {
	border: 1px solid black;
	width: 1200px;
	height: 200px;
/*	margin-left: 25px;
	margin-right: 25px;*/
	overflow: hidden;
	display: inline-block;
}

.custmor img{
	border-radius: 100%;
	margin-top: 30px;
	margin-right: 30px;
}

.custmor strong{
	font-size: 20px;
}

.custmor p{
	font-size: 15px;
	word-wrap: break-word;
	word-break: break-all;
}

.userimg{
	float: left;
}

.custmor1{
	/*width: 450px;*/
	/*margin-left: 20px;*/
}

.custmor_1{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}

.custmor2{
	/*display: none;*/
	/*width: 80%;*/
	margin-left: 120px;
}

.custmor_2{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}

.custmor3{
	display: none;
	/*width: 80%;*/
	/*margin-left: 30px;*/
}

.custmor_3{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}

.custmor4{
	display: none;
	/*width: 80%;*/
	/*margin-left: 30px;*/
}

.custmor_4{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}

.custmor5{
	display: none;
	/*width: 80%;*/
	/*margin-left: 30px;*/
}

.custmor_5{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}

.custmor6{
	display: none;
	/*width: 80%;*/
	margin-left: 30px;
}

.custmor_6{
	float: left;
	width: 350px;
	text-align: center;
	margin-top: 20px;
}