/*comman css */

*{
	margin: 0;
	padding: 0;
}

ul li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

body{
	font-family: sans-serif;
	background-image: url('../photo/homebg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*all page header css*/

.fixed{
	position: fixed;
	top: 0;
	left: 0;
}

.fixedheder{
	width: 100%;
	height: 80px;
	background-color: #260c1a;
}

.fixedheder a{
	color: #f7f7f2;
}

.logo{
	float: left;
	font-weight: 700;
	padding: 20px 0 0 50px;
}

.headlist{
	float: right;
	margin-top: 30px;
	margin-right: 50px;
}

.headlist ul li{
	display: inline-block;
}

.headlist a{
	font-size: .8rem;
	font-weight: 600;
	padding: 0 20px;
}

.headlist a:hover{
	color: gray;
	text-decoration: none;
}

.imgwithtext{
	clear: both;
}




footer{
	clear: both;
	background-color: black;
	color: white;
	width: 100%;
	height: 350px;
	padding-top: 80px;
}

.leftblock{
	float: left;
	margin-right: 150px;
}

.lastabout{
	width: 250px;
	margin-left: 150px;
	text-align: center;
}

.lastabout strong{
	font-size: 1.5rem;
}

.lastabout p{
	font-size: .8rem;
	line-height: 20px;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 10px;
}

.lastabout button{
	background-color: black;
	border: 0;
}

.lastabout a{
	color: white;
	font-size: .8rem;
	font-weight: 700;
	text-decoration: none;
}

.footerlist{
	float: left;
	display: flex;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 150px;
}

.footerlist strong{
	font-size: .9rem;
}

.footerlist a{
	text-decoration: none;
	color: white;
	font-size: .8rem;
}


.listone{
	margin-right: 40px;
}

.listtwo{
	margin-left: 40px;
}

.socialicon{
	float: left;
	margin-top: 20px;
	margin-left: 100px;
	text-align: center;
	width: 120px;
}

.socialicon strong{
	font-size: .9rem;
}

.socialicon img{
	margin-top: 20px;
}

.copyright{
	clear: both;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-size: .7rem;
}

